div(data-role="header", data-position="fixed", data-id='header')
    a#btnBack(href="#", data-icon="back") Back
    h1 Browse
div(data-role="content")
    include browse_list
div(data-role="footer", data-position="fixed", data-id='footer')
    button#btnToggleFilter(data-inline="true") Filter
    form#filter
        fieldset#sortby(data-role="controlgroup", data-type="horizontal")
            input#sortTime(type="radio", name="sort", value="Time", checked="checked")
            label(for="sortTime") Time
            input#sortDistance(type="radio", name="sort", value="Distance")
            label(for="sortDistance") Distance
        div(data-role="fieldcontain")
            label(for="maxDistance") Max Distance (miles)
            input#maxDistance(type="number", name="maxDistance", value!="<%= distance %>")
        div(data-role="fieldcontain")
            label(for="latestDate") Latest Date
            input#latestDate(type="date", name="latestDate", value!='<%= date %>')
        div(data-role="fieldcontain")
            label(for="latestTime") Latest Time
            input#latestTime(type="time", name="latestTime", value!='<%= time %>')
