div(data-role="header", data-position="fixed", data-id='header')
    a#btnBack(href="#", data-icon="delete") Cancel
    h1 <%= isNew ? 'Create' : 'Edit' %>
    <% if(!isNew) { %>
    a#btnBack(href="#", data-icon="check") Update
    <% } %>
div(data-role="content")
    form#frmActivityCreate
        label(for="name") Name
        input#name(name="name", value!='<%= name %>')

        label(for="description") Description
        input#description(name="description", value!='<%= description %>')

        label(for="begindate") Begin Date
        input#begindate(type="date", name="begindate", value!='<%= begindate %>')

        label(for="begintime") Begin Time
        input#begintime(type="time", name="begintime", value!='<%= begintime %>')

        label(for="enddate") End Date
        input#enddate(type="date", name="enddate", value!='<%= enddate %>')

        label(for="endtime") End Time
        input#endtime(type="time", name="endtime", value!='<%= endtime %>')

        label(for="location") Location
        input#location(name="location", value!='<%= location %>')
        button#btnUseCurrentGPS Use current position

        <% if(isNew) { %>
        input(type='submit', value='Create')
        <% } else { %>
        button(data-theme="e") Delete
        <% } %>
