div(data-role="header", data-position="fixed", data-id='header')
    a#btnBack(href="#", data-icon="back") Back
    h1 Details
    <% if(owner===true) { %>
    a#btnDelete(href="#", data-icon="delete") Delete
    <% } else if(owner===false) { %>
    a#btnUnJoin(href="#", data-icon="delete") Unjoin
    <% } else if(owner===null) { %>
    a#btnJoin(href="#", data-icon="create") Join
    <% } %>
div(data-role="content")
    input(type="hidden", name='id', value=!"<%= _id %>")
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Name
        p <%= name %>
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Description
        p <%= description %>
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Begin
        p <%= begin %>
    div(data-role="collapsible", data-inset="false")
        h3 End
        p <%= end %>
    div(data-role="collapsible", data-inset="false")
        h3 Owners
        p Not implemented
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Map
        p <%= location %>