div(data-role="header", data-position="fixed", data-id='header')
    a#btnBack(href="#", data-icon="back") Back
    h1 Details
    <% if(!expired) { %>
    <% if(owner===true) { %>
    a#btnEdit(href="#", data-icon="gear") Edit
    <% } else if(owner===false) { %>
    a#btnUnJoin(href="#", data-icon="minus") Unjoin
    <% } else if(owner===null) { %>
    a#btnJoin(href="#", data-icon="plus") Join
    <% } %>
    <% } %>
div(data-role="content")
    input(type="hidden", name='id', value=!"<%= _id %>")
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Name
        p <%= name %>
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Description
        p <%= desc %>
    <% if(expired) { %>
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Rating
        div
            <% for(var j = 1; j <= 5; j++) { %>
            span
                img.rating(src!="<%= j <= rating ? 'image/star-on.png' : 'image/star-off.png' %>", data-rating!="<%= j %>")
            <% } %>
    div(data-role="collapsible", data-inset="false")
        h3 Reviews (<%= reviews %>)
        div
            <% for(var i = 0; i < members.length; i++) { %>
            <% if(members[i].rating) { %>
            div(data-role="collapsible", data-inset="true")
                h3 <%= members[i].user.username %>
                    <% for(var j = 1; j <= 5; j++) { %>
                    span
                        img.rating(src!="<%= j <= members[i].rating ? 'image/star-on.png' : 'image/star-off.png' %>", data-rating!="<%= j %>")
                    <% } %>
                <%= members[i].review %>
            <% } %>
            <% } %>
    <% } else { %>
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Begin
        p <%= begin %>
    div(data-role="collapsible", data-inset="false")
        h3 End
        p <%= end %>
    div(data-role="collapsible", data-inset="false")
        h3 Members (<%= members.length %>)
        div
            <% for(var i = 0; i < members.length; i++) { %>
            div
                <% if(members[i].owner) { %>
                span
                    img(src='image/crown.png')
                <% } %>
                <%= members[i].user.username %>
            <% } %>
    div(data-role="collapsible", data-inset="false", data-collapsed="false")
        h3 Map
        #gmap
    <% } %>