div(data-role="header", data-position="fixed", data-id='header')
    h1 <%= title %>
div(data-role="content")
    button#btnCreate Create
    button#btnNearBy Near By 
    button#btnBrowse Browse
    button#btnInstant Instant