div(data-role="header", data-position="fixed", data-id='header')
    h1 Home
div(data-role="content")
    button#btnSchedule Schedule
    button#btnCreate Create
    button#btnBrowse Browse
div(data-role="footer", data-position="fixed", data-id='footer')
    button#btnToggleSettings(data-inline="true") Settings
    #settings
        button#btnAuthFacebook() Link Facebook
        button#btnAuthTwitter() Link Twitter
        button#btnLogout() Logout