div(data-role="header", data-position="fixed", data-id='header')
    h1 Home
div(data-role="content")
    #logo
        img(src="image/logo.png", style="display: block; margin: auto;")
    button#btnSchedule Schedule
    button#btnCreate Create
    button#btnBrowse Browse
div(data-role="footer", data-position="fixed", data-id='footer')
    button#btnToggleSettings(data-inline="true") Settings
    #settings
        form#browseDefaults
            fieldset Default Browse Settings
            div(data-role="fieldcontain")
                label(for="hoursDelay") Delay in Hours
                input#hoursDelay(type="number", name="hoursDelay", value!='5')
            div(data-role="fieldcontain")
                label(for="maxDistance") Max distance
                input#maxDistance(type="number", name="maxDistance", value!='10')
        button#btnAuthFacebook() Link Facebook
        button#btnAuthTwitter() Link Twitter
        button#btnLogout() Logout