doctype 5
html
    head
        title Gather
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="scripts/libs/jquery.mobile/jquery.mobile-1.2.0.css")
        link(rel="stylesheet", type="text/css", href="css/style.css", media="all")
        script(type="text/javascript", src="scripts/libs/cordova/cordova-ios-2.1.0.js")
        script(data-main="scripts/main", src="scripts/libs/require/require.js")
    body
        #container