div(data-role="header", data-position="fixed", data-id='header')
    h1 Login
div(data-role="content")
    button#btnLoginFacebook Facebook
    button#btnLoginTwitter Twitter
    #logo
        img(src="image/logo.png", style="display: block; margin: auto; margin-top: 50px;")