div(data-role="header", data-position="fixed", data-id='header')
    h1 Login
div(data-role="content")
    #logo
        img(src="image/logo.png", style="display: block; margin: auto;")
    button#btnLoginFacebook(data-theme='b') Facebook
    button#btnLoginTwitter(data-theme='e') Twitter